@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Edu NSW ACT Foundation', cursive;
}

*
*::before,
*::after {
	box-sizing: inherit;
}

@layer utilities {
	.h-10vh {
		height: 10vh;
	}
	
	.h-90vh {
		height: 90vh;
	}
	
	.text-shadow-sm {
		text-shadow: 0 .3rem .25rem rgba(0,0,0,.2);
	}

	.text-shadow-lg {
		text-shadow: 0 .4rem .4rem rgba(0,0,0,.4);
	}
	
	.box-shadow-sm {
		box-shadow: 0 .4rem .6rem rgba(0,0,0,.3);
	}

	.box-shadow-md {
		box-shadow: 0 .4rem .6rem rgba(0,0,0,.4);
	}

	.box-shadow-lg {
		box-shadow: 0 .4rem 1.5rem rgba(0,0,0,.4);
	}
}

::-webkit-scrollbar {
	display: none;
}